@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Noto+Serif:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf9f8;
  color: #1a1c1c;
  font-family: 'Manrope', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}